<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>ACU</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{HH:mm:ss}[ACU]%-5level %logger{3} - %msg%n</pattern>
        </encoder>

<!--
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{3} - %msg%n</pattern>
        </encoder>
-->

    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>